In [1]:
#library imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import talib
import warnings
from matplotlib.pyplot import figure
warnings.filterwarnings('ignore')

In [64]:
#data import
returns = pd.read_pickle("../Data/returns.pkl")

# Data Preparation

In [65]:
#drop very first row
returns = returns.iloc[1:, :]

In [66]:
returns

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,9660J1,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
date,,,,,,,,,,,,,,,,,,,,,
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,-1.043478,1.639344,0.000000,0.432900,-3.293257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-24,NaN,NaN,NaN,NaN,0.136600,NaN,0.349877,NaN,NaN,NaN,...,0.376702,4.400221,1.590198,-0.991004,1.682900,3.364703,2.271817,0.634962,4.859794,1.204016
2021-05-25,NaN,NaN,NaN,NaN,0.946372,NaN,0.542355,NaN,NaN,NaN,...,0.230947,-0.288569,0.449063,-1.661106,0.439588,-0.548765,0.185928,0.727530,1.884279,-0.498203
2021-05-26,NaN,NaN,NaN,NaN,-1.393581,NaN,0.616491,NaN,NaN,NaN,...,1.296083,2.388001,-0.166049,3.255613,2.317760,4.702784,0.673960,2.336242,-0.429666,-1.520393
2021-05-27,NaN,NaN,NaN,NaN,-0.907923,NaN,0.102119,NaN,NaN,NaN,...,0.056867,1.893011,-0.063971,-0.510347,1.044185,-0.275482,1.979237,1.876893,1.247655,2.369727
2021-05-28,NaN,NaN,NaN,NaN,0.829804,NaN,2.116807,NaN,NaN,NaN,...,-0.312589,-0.892462,-0.409679,0.519992,0.160551,-1.549363,0.570831,0.766354,-0.444733,1.742926

In [29]:
#sample stock
stock = '905270'

In [30]:
#time period
t = pd.to_datetime('1999-02-24')

In [31]:
#save the target (sample stock's returns upto time t)
y = returns[[stock]].loc[:t, :]
y.columns = ['Outcome']
y = y.sort_index(ascending = False)
y

             Outcome
date
1999-02-24 -0.243263
1999-02-23 -0.576744
1999-02-22  0.111753
1999-02-19  0.111878
1999-02-18  1.668246
...              ...
1990-01-09 -1.123596
1990-01-08  2.017423
1990-01-05 -2.546917
1990-01-04 -0.797872
1990-01-03 -0.835165

[2311 rows x 1 columns]

In [32]:
#shift the features
X = returns.loc[:(t + pd.DateOffset(-1)), :]
X = X.sort_index(ascending = False)
X

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,9660J1,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
date,,,,,,,,,,,,,,,,,,,,,
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,NaN,-2.913124,-0.444444,-1.667515,NaN,...,NaN,NaN,-0.745092,NaN,NaN,4.413908,NaN,NaN,NaN,NaN
1999-02-22,0.111753,5.019815,4.282494,0.937383,2.717539,NaN,9.575035,0.106781,2.025974,NaN,...,NaN,NaN,1.512727,NaN,NaN,-0.743955,NaN,NaN,NaN,NaN
1999-02-19,0.111878,0.000000,0.452830,-0.137294,0.000000,NaN,2.919708,0.106895,-1.521934,NaN,...,NaN,NaN,-2.225699,NaN,NaN,-2.143579,NaN,NaN,NaN,NaN
1999-02-18,1.668246,-3.155650,0.913938,1.843142,2.222244,NaN,0.735294,0.000000,0.000000,NaN,...,NaN,NaN,3.847290,NaN,NaN,-0.702811,NaN,NaN,NaN,NaN
1999-02-17,0.228007,0.903614,-1.868460,-0.367275,-4.127726,NaN,-0.366884,0.000000,-2.335748,NaN,...,NaN,NaN,0.000000,NaN,NaN,-0.697906,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,-1.043478,1.639344,0.000000,0.432900,-3.293257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#concatenate outcome and features
df_full = pd.concat([X, y], axis = 1)
df_full = df_full.sort_index(ascending = False)
df_full

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703,Outcome
date,,,,,,,,,,,,,,,,,,,,,
1999-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.243263
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,NaN,-2.913124,-0.444444,-1.667515,NaN,...,NaN,-0.745092,NaN,NaN,4.413908,NaN,NaN,NaN,NaN,-0.576744
1999-02-22,0.111753,5.019815,4.282494,0.937383,2.717539,NaN,9.575035,0.106781,2.025974,NaN,...,NaN,1.512727,NaN,NaN,-0.743955,NaN,NaN,NaN,NaN,0.111753
1999-02-19,0.111878,0.000000,0.452830,-0.137294,0.000000,NaN,2.919708,0.106895,-1.521934,NaN,...,NaN,-2.225699,NaN,NaN,-2.143579,NaN,NaN,NaN,NaN,0.111878
1999-02-18,1.668246,-3.155650,0.913938,1.843142,2.222244,NaN,0.735294,0.000000,0.000000,NaN,...,NaN,3.847290,NaN,NaN,-0.702811,NaN,NaN,NaN,NaN,1.668246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,-1.043478,1.639344,0.000000,0.432900,-3.293257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.123596
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.017423
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.546917
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.797872
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.835165

In [45]:
#shit outcome down 1 row
df_full['Outcome'] = df_full['Outcome'].shift(1)
df_full = df_full.iloc[1:, :]
df_full

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703,Outcome
date,,,,,,,,,,,,,,,,,,,,,
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,NaN,-2.913124,-0.444444,-1.667515,NaN,...,NaN,-0.745092,NaN,NaN,4.413908,NaN,NaN,NaN,NaN,-0.243263
1999-02-22,0.111753,5.019815,4.282494,0.937383,2.717539,NaN,9.575035,0.106781,2.025974,NaN,...,NaN,1.512727,NaN,NaN,-0.743955,NaN,NaN,NaN,NaN,-0.576744
1999-02-19,0.111878,0.000000,0.452830,-0.137294,0.000000,NaN,2.919708,0.106895,-1.521934,NaN,...,NaN,-2.225699,NaN,NaN,-2.143579,NaN,NaN,NaN,NaN,0.111753
1999-02-18,1.668246,-3.155650,0.913938,1.843142,2.222244,NaN,0.735294,0.000000,0.000000,NaN,...,NaN,3.847290,NaN,NaN,-0.702811,NaN,NaN,NaN,NaN,0.111878
1999-02-17,0.228007,0.903614,-1.868460,-0.367275,-4.127726,NaN,-0.366884,0.000000,-2.335748,NaN,...,NaN,0.000000,NaN,NaN,-0.697906,NaN,NaN,NaN,NaN,1.668246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,-1.043478,1.639344,0.000000,0.432900,-3.293257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.136364
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.123596
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.017423
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.546917
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.797872

In [55]:
#investable universe
investable_universe = []
last_days = 80

for col in df_full.columns:
    if ~df_full[col].iloc[:last_days].isna().any():
        investable_universe.append(col)

len(investable_universe)

847

In [60]:
df_investable = df_full[investable_universe].iloc[:last_days]

In [53]:
stock = '905270'
pred_after = pd.to_datetime('1999-02-24')

In [61]:
from sklearn.linear_model import LinearRegression

In [114]:
df_full.loc[[pred_after + pd.DateOffset(-1)]]

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703,Outcome
date,,,,,,,,,,,,,,,,,,,,,
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,NaN,-2.913124,-0.444444,-1.667515,NaN,...,NaN,-0.745092,NaN,NaN,4.413908,NaN,NaN,NaN,NaN,-0.243263

In [116]:
df_full.loc[[pred_after]]

KeyError: "None of [DatetimeIndex(['1999-02-24'], dtype='datetime64[ns]', name='date', freq=None)] are in the [index]"

In [103]:
returns[[stock]].dropna()

              905270
date
1990-01-03 -0.835165
1990-01-04 -0.797872
1990-01-05 -2.546917
1990-01-08  2.017423
1990-01-09 -1.123596
...              ...
1999-02-23 -0.576744
1999-02-24 -0.243263
1999-02-25 -0.337648
1999-02-26  0.112931
1999-03-01 -0.714420

[2314 rows x 1 columns]