In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [29]:
train = pd.read_csv("../Data/train.csv").drop(columns="Unnamed: 0")
test = pd.read_csv("../Data/test.csv").drop(columns="Unnamed: 0")
train.head()

,date,905270,921795,904261,905261,916328,923024,936365,902355,912215,...,9889RL,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
0,1990-01-02,22.75,12.63,30.00,29.61,3.8736,11.00,4.1250,24.50,58.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-01-03,22.56,12.57,31.50,29.37,3.8876,11.00,4.0000,24.50,57.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-01-04,22.38,12.41,32.25,28.89,3.8806,11.38,3.9375,24.63,57.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-01-05,21.81,12.60,32.13,28.41,3.8387,11.50,3.8125,24.75,57.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-01-08,22.25,12.49,32.13,29.13,3.8387,11.50,3.8125,25.00,57.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
train["date"] = pd.to_datetime(train["date"], format="%Y-%m-%d")
test["date"] = pd.to_datetime(test["date"], format="%Y-%m-%d")

In [56]:
def first_of_month(df, datetime):
    month_dates = df.loc[(df.date.dt.month == datetime.month) & 
                         (df.date.dt.year == datetime.year), "date"]
    return datetime == month_dates.iloc[0]

train = train[train.date.apply(lambda x: first_of_month(train, x))]
test = test[test.date.apply(lambda x: first_of_month(test, x))]

In [57]:
train.head()

,date,905270,921795,904261,905261,916328,923024,936365,902355,912215,...,9889RL,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
0,1990-01-02,22.75,12.63,30.00,29.61,3.8736,11.00,4.1250,24.50,58.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1990-02-01,22.75,11.52,28.13,24.43,3.6499,9.88,3.6250,24.38,49.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,1990-03-01,24.06,12.78,28.50,25.39,3.6079,10.00,4.3750,27.88,51.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,1990-04-02,25.44,13.66,28.75,26.50,3.6569,9.63,4.6875,27.25,49.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,1990-05-01,24.75,13.26,25.13,25.63,3.7827,9.00,4.3750,26.25,47.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# Removing first row from test to get rid of Feb 2015 double counting
test.drop(index=0, inplace=True)

In [62]:
test.head()

,date,905270,921795,904261,905261,916328,923024,936365,902355,912215,...,9889RL,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
9,2015-03-02,53.81,11.39,29.69,20.35,47.22,30.0,3.21,57.94,68.13,...,NaN,39.4650,26.26,13.81,54.16,16.84,99.56,50.29,4.51,76.75
31,2015-04-01,53.81,11.39,29.69,20.35,45.89,30.0,2.69,57.94,68.13,...,NaN,37.5180,24.71,13.07,51.99,15.56,99.75,48.68,5.12,78.69
52,2015-05-01,53.81,11.39,29.69,20.35,46.69,30.0,2.31,57.94,68.13,...,NaN,45.2060,26.26,12.75,52.92,16.15,100.99,40.00,7.10,70.62
72,2015-06-01,53.81,11.39,29.69,20.35,48.94,30.0,2.25,57.94,68.13,...,NaN,49.8900,23.45,9.29,54.53,16.59,111.98,41.25,8.37,72.44
94,2015-07-01,53.81,11.39,29.69,20.35,49.52,30.0,2.42,57.94,68.13,...,NaN,53.8299,23.47,7.61,50.93,18.49,97.63,39.78,7.91,70.01

In [63]:
# Filtering for only listed stocks
listed_stocks = train.loc[:, ~train.iloc[-1].isnull()].columns
listed_stocks

Index(['date', '905270', '921795', '904261', '905261', '916328', '923024',
       '936365', '902355', '912215',
       ...
       '311917', '69568X', '543755', '77463M', '29235J', '131745', '69487D',
       '68157P', '9110RA', '292703'],
      dtype='object', length=1215)

In [70]:
from sklearn.linear_model import LinearRegression
import datetime

In [97]:
# Parameters for prediction model
total_predictions = pd.DataFrame()

next_months = test.shape[0]
lag = 1
num_stocks = len(listed_stocks)

In [100]:
# Running predictions for all stocks
count = 1
model = LinearRegression()
for stock in listed_stocks[1:num_stocks + 1]:
    sample = train[["date", stock]].dropna()
    sample[stock + "_lag1"] = train[stock].shift(-1)
    stock_predictions = []
    for day in range(next_months):
        new_df = sample.iloc[:-1, :]
        model.fit(X=new_df[[stock]], y=new_df[stock + "_lag1"])
        current_price = sample[[stock]].iloc[-1][0]
        next_pred = model.predict(pd.DataFrame([[current_price]]))[0]
        next_day = sample[["date"]].iloc[-1][0] + datetime.timedelta(days=1)
        sample[stock + "_lag1"].fillna(next_pred, inplace=True)
        sample = sample.append(pd.DataFrame({"date": [next_day], 
                                             stock: [next_pred], 
                                             stock + "_lag1": [np.nan]})).reset_index(drop=True)
        stock_predictions.append(next_pred)
    total_predictions[stock] = stock_predictions
    print(count, end=" ")
    count += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101 1102 1103 1104 1105 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115 1116 1117 1118 1119 1120 1121 1122 1123 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139 1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1150 1151 1152 1153 1154 1155 1156 1157 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167 1168 1169 1170 1171 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199 1200 1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213 1214

In [101]:
total_predictions

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,311917,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
0,53.770461,11.498157,29.558443,20.521993,45.407184,30.009734,3.150797,57.856005,67.991937,52.331720,...,63.254088,42.533171,23.825442,12.938953,47.692703,15.304474,79.893503,44.822973,3.904138,67.836268
1,53.731708,11.603089,29.437954,20.690130,45.584636,30.019358,3.604889,57.773759,67.861334,52.353223,...,63.588717,42.873475,23.781255,12.723954,47.954985,15.328861,81.953176,44.777852,3.899337,66.831896
2,53.693724,11.704892,29.327603,20.854496,45.762357,30.028873,4.033758,57.693224,67.737788,52.374512,...,63.923887,43.208983,23.737436,12.523887,48.216847,15.353161,84.049665,44.734562,3.895405,65.874569
3,53.656496,11.803659,29.226536,21.015176,45.940348,30.038281,4.438805,57.614366,67.620918,52.395589,...,64.259599,43.539761,23.693982,12.337717,48.478290,15.377375,86.183627,44.693027,3.892185,64.962086
4,53.620008,11.899482,29.133972,21.172253,46.118608,30.047583,4.821354,57.537150,67.510364,52.416455,...,64.595854,43.865876,23.650889,12.164478,48.739314,15.401502,88.355734,44.653177,3.889548,64.092345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,52.298860,14.594469,28.129380,26.487112,58.501334,30.477272,11.176332,54.811062,65.624462,53.419092,...,88.034526,57.737697,21.473916,9.863584,65.073649,16.817830,362.919943,43.771729,3.877619,47.140615
71,52.289352,14.607077,28.129123,26.521481,58.698634,30.481622,11.184647,54.792198,65.621788,53.429757,...,88.409238,57.863668,21.449299,9.862191,65.308088,16.836829,370.038611,43.769242,3.877619,47.105665
72,52.280034,14.619310,28.128888,26.555079,58.896234,30.485923,11.192499,54.773727,65.619259,53.440317,...,88.784556,57.987863,21.424887,9.860895,65.542152,16.855760,377.284522,43.766855,3.877619,47.072353
73,52.270901,14.631177,28.128673,26.587925,59.094133,30.490175,11.199916,54.755641,65.616866,53.450771,...,89.160481,58.110307,21.400678,9.859689,65.775840,16.874624,384.659951,43.764565,3.877619,47.040601
74,52.261949,14.642691,28.128476,26.620033,59.292332,30.494379,11.206920,54.737931,65.614602,53.461121,...,89.537014,58.231025,21.376671,9.858566,66.009154,16.893420,392.167213,43.762368,3.877619,47.010336

In [102]:
true_values = test.drop(columns="date").iloc[:next_months]
true_values = true_values[total_predictions.columns]

In [106]:
true_values

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,311917,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
9,53.81,11.39,29.69,20.35,47.22,30.0,3.21,57.94,68.13,52.31,...,69.7800,39.4650,26.260,13.81,54.1600,16.84,99.56,50.29,4.51,76.7500
31,53.81,11.39,29.69,20.35,45.89,30.0,2.69,57.94,68.13,52.31,...,68.9700,37.5180,24.710,13.07,51.9900,15.56,99.75,48.68,5.12,78.6900
52,53.81,11.39,29.69,20.35,46.69,30.0,2.31,57.94,68.13,52.31,...,65.8900,45.2060,26.260,12.75,52.9200,16.15,100.99,40.00,7.10,70.6200
72,53.81,11.39,29.69,20.35,48.94,30.0,2.25,57.94,68.13,52.31,...,66.8400,49.8900,23.450,9.29,54.5300,16.59,111.98,41.25,8.37,72.4400
94,53.81,11.39,29.69,20.35,49.52,30.0,2.42,57.94,68.13,52.31,...,70.9500,53.8299,23.470,7.61,50.9300,18.49,97.63,39.78,7.91,70.0100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1481,53.81,11.39,29.69,20.35,109.11,30.0,92.30,57.94,68.13,52.31,...,356.8899,729.7700,66.290,172.24,364.8201,80.89,162.04,224.56,71.60,249.6700
1500,53.81,11.39,29.69,20.35,122.54,30.0,87.66,57.94,68.13,52.31,...,359.8201,839.8101,67.720,186.34,367.9299,103.98,171.53,258.73,70.80,266.0000
1519,53.81,11.39,29.69,20.35,122.21,30.0,86.39,57.94,68.13,52.31,...,334.2000,718.4299,77.560,186.45,389.0500,126.26,187.30,346.25,94.06,289.6101
1542,53.81,11.39,29.69,20.35,118.94,30.0,81.09,57.94,68.13,52.31,...,351.5701,661.7500,80.735,162.69,367.5200,107.52,208.08,323.80,88.94,294.1699
1563,53.81,11.39,29.69,20.35,119.53,30.0,78.55,57.94,68.13,52.31,...,428.8601,684.8999,81.200,136.41,350.2800,90.47,191.84,325.25,96.91,331.9500

In [107]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

print("MSE: " + str(mean_squared_error(y_true=true_values, y_pred=total_predictions)))
print("MAE: " + str(mean_absolute_error(y_true=true_values, y_pred=total_predictions)))
print("R2: " + str(r2_score(y_true=true_values, y_pred=total_predictions)))

MSE: 811210.4004270191
MAE: 58.35546353386731
R2: -2.955535915090062e+33